jax
flax
optax
orbax-checkpoint
numpy
torch
torchvision
einops
einops-exts # Used in gaussian_diffusion.py
PyYAML
tqdm
Pillow # For PIL
pytest # For running tests
video_diffusion_pytorch
tensorboard # For logging training metrics and visualization 